# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pycharm_pro\chinese_ner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
